<div class="row justify-content-center">
	<div class="col-12 col-md-9 py-2 research">
		<h3> Research </h3>

		<p> I am curious about how robots reason about <b>uncertainty</b> in their environment, whether it comes from <b>inaccurate models</b> of the world or their dynamics, uncertain <b>state estimates</b>, or the actions of <b>other agents</b>.</p>

		<p>My aim is to use tools from <b>nonlinear control</b>, <b>Bayesian estimation</b>, and modern, learning-based <b>computer vision</b> to build robots that can properly estimate their risk online, and respond accordingly. I am excited particularly by applications like <b> manipulation </b> and <b> locomotion </b> where lack of robustness is a key limitation to these systems being deployed in the real world.</p>
	</div>
</div>

{% include divider.html %}

<div class="row justify-content-center">
	<div class="col-12 col-md-9 py-2">

		<div class="row">
			<h3> Publications </h3>
			<p> * denotes equal contribution. Representative papers are <mark>highlighted.</mark></p>
		</div>

		{% assign papers_sorted = site.papers | sort: "date" | reverse %}
		{% for paper in papers_sorted %}

			{% if paper.highlight %}
				{% assign highlight = "mark" %}
			{% else %}
				{% assign highlight = "" %}
			{% endif %}

			<div class="row justify-content-center py-4 {{highlight}}">

				<div class="col-8 col-md-3 align-items-center my-auto py-4">
					<img class="img-fluid" src="{{paper.image}}" />
				</div>

				<div class="col-10 col-md-9 paper my-auto">
		    		<p><b>{{paper.title}}</b></p> 
		    		{{ paper.authors | markdownify }}
		    		<p> <i>{{paper.location}},</i> {{paper.date | date: "%Y"}}. <i><b> {{paper.notes}} </b></i><b><span class="text-danger">{{paper.awards}}</span></b></p>
		    		<p> {% if paper.pdf %} [<a href="{{paper.pdf}}">PDF</a>]  {% endif %}
		    			{% if paper.website %} [<a href="{{paper.website}}">project page</a>] {% endif %}
		    			{% if paper.code %} [<a href="{{paper.code}}">code</a>] {% endif %}
		    			{% if paper.video %} [<a href="{{paper.video}}">video</a>] {% endif %} </p>

		    		<br>
		    		<p>{{paper.content}}</p>
		    	</div>

		    </div>
		{% endfor %}
	</div>
</div>
