/* Flex container for each publication item */
.publication-content {
  display: flex;                /* Enable flexbox layout */
  align-items: flex-start;     /* Align items at the top */
  margin-bottom: 20px;         /* Space between publications */
}

/* Style for the image */
.publication-image {
  width: 200px;                /* Set a fixed width for the image */
  height: auto;                /* Maintain aspect ratio */
  margin-right: 20px;          /* Space between image and text */
  border-radius: 8px;          /* Optional: Add rounded corners */
}

/* Style for the text container */
.publication-text {
  flex-grow: 1;                /* Allow text to take the remaining space */
}

/* Headings and description text */
.publication-text h4 {
  margin-top: 0;               /* Remove top margin from heading */
  line-height: 1;
}

.image-container {
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
  max-width: 50%;
}

.responsive-image {
  max-width: 100%;     /* Ensure the image does not exceed the width of its container */
  height: auto;        /* Maintain the aspect ratio */
}
