<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head-custom.html %}
  </head>
  <body class="fun-gradient">
    <div>
      <!-- Main header container -->
      <div class="container">
        <div class="row justify-content-center text-xl-start text-center gx-4 pt-4">
          <!-- Left side: header text and links -->
          <div class="col-12 col-md-10 col-xl-5 mt-2 pt-4 header d-flex flex-column">
            <div class="row">
              <div class="col-12">
                <h1 class="inter-banner fs-1 fs-md-1 fs-lg-1">Keenan Albee</h1>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <h4 class="subhead fs-4 fs-md-3 fs-lg-2">
                  Assistant Professor,<br>
                  <a href="https://viterbi.usc.edu">University of Southern California</a><br>
                </h4>
              </div>
            </div>
            <div class="row links justify-content-center my-auto">
              {% include links.html %}
            </div>
          </div>
          <!-- Right side: image -->
          <div class="col-12 col-md-2 mt-2 pt-2 d-flex align-items-center justify-content-center">
            <img
              class="img-fluid rounded-circle mx-auto d-block"
              style="max-width: 12rem; width: 100%; height: auto;"
              src="/assets/images/keenan_headshot_square.jpg"
              alt="Picture of Keenan."
            />
          </div>
        </div>
      </div> 
    </div>
    <!-- Main container for everything else -->
    <main class="container">
      <div class="row justify-content-center">
        <div class="col-10 col-xl-6">
          <hr />
        </div>
      </div>
      <div class="row justify-content-center">
        {{ content }}
      </div>
    </main>
      {% include footer.html %}
    
      <script src="assets/js/content_switch.js"></script>
  </body>
</html>